venv/
__pycache__/
*.pyc
.env
.env.*
.idea/
.vscode/
config.py
data/*.json

# Логи
*.log

# Если захочешь – можешь сюда добавить config.py,
# но тогда нужно будет держать локальный config.py вне гита.
